<div class="row collapse">
  <div class="large-9 medium-9 small-12 columns">

    <div class="row collapse" id="feed-content">
      <% if @feed_items.any? %>
        <%= render partial: 'shared/feed_item', collection: @feed_items %>
      <% end %>
    </div>
    <div class="large-8 large-offset-4 medium-8 medium-offset-4 columns text-center">
      <%= will_paginate @feed_items %>
    </div>

  </div>
  <div class="large-3 medium-3 columns show-for-medium-up">

    <div id="sidebar-on-feed" class="text-center">
      <div id="user-images-container-on-feed">
        <%= image_tag current_user.cover.url(:cover_size), id: 'user-cover-pic' %>
        <%= image_tag current_user.avatar.url(:medium), id: 'user-profile-pic' %>
      </div>
      <h4>
        <%= current_user.name %>
        <small> @<%= current_user.username %></small>
        <br>
        <em><small><b><%= current_user.about_me.truncate(50) if current_user.about_me %></b></small></em>
      </h4>

      <div id="user-stats-container-on-feed">
        <p>
          <%= pluralize current_user.subscribers.count, 'subscriber' %>
          &nbsp;
          <%= pluralize current_user.books.count, 'gif' %>
          &nbsp;
          <%= pluralize current_user.total_view_count, 'view' %>
        </p>
      </div>

      <div class="row" id="who-to-follow">

        <h4>Who to follow</h4>

        <% @users_to_follow.each do |user| %>
          <% if user != current_user %>
            <%= render 'shared/user', user: user %>
          <% end %>
        <% end %>

      </div>
    </div>

  </div>
</div>