<div class="row hashtag-container">
  <% if hashtag.hashtag_type == 'book_title' %>
    <div class="large-4 medium-4 small-4 columns">
      <%= link_to image_tag(hashtag.book.cover.url, class: 'image-with-curved-edges'), hashtag.book %>
    </div>
    <div class="large-8 medium-8 small-8 columns">
      <h2>
        <%= auto_link(hashtag.content).html_safe %>
      </h2>
      <p>
        by <%= link_to hashtag.user.username, user_path(hashtag.user.username) %>
      </p>
    </div>
  <% elsif hashtag.hashtag_type == 'comment_content' %>
    <div class="large-9 medium-9 small-8 columns">
      <h2>
        <%= auto_link(hashtag.content).html_safe %>
      </h2>
      <p>
        comment by <%= link_to hashtag.user.username, user_path(hashtag.user.username) %> on <%= link_to hashtag.book.title, hashtag.book %>
      </p>
    </div>
    <div class="large-3 medium-3 small-4 columns">
      <%= link_to image_tag(hashtag.book.cover.url, class: 'image-with-curved-edges'), hashtag.book %>
    </div>
  <% end %>
</div>