<div class="row-collpase" id="custom-navbar">

  <div class="large-2 columns">
    <%= link_to(image_tag('storyhoot-logo-white.png', class: 'brand'), feed_path) %>
  </div>

  <div class="large-8 columns">
    <%= form_tag books_path, :method => :get do %>
    <div class="row collapse">
      <div class="large-11 small-9 columns">
        <%= text_field_tag :query, params[:query], :placeholder => 'Search for cool gifs' %>
      </div>
      <div class="large-1 small-3 columns">
        <%= link_to '#' do %>
          <span id="categories-trigger">
            <i class="fi-list"></i>
          </span>
        <% end %>
        <div class = "row" id="categories-container">
          <% categories.each do |category| %>
            <div class="large-6 columns">
              <%= link_to category.name, category %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>

  <div class="large-2 columns">
    <div id="navbar-user-details" class="row collapse">
      <div class="small-2 columns">
        <%= link_to image_tag(current_user.avatar.url(:thumb), class: 'profile-pic'), user_path(current_user.username) %>
      </div>
      <div class="small-8 columns">
        <%= link_to current_user.username, user_path(current_user.username), id: 'user-menu-trigger' %>

        <div id="user-options-for-custom-navbar">
          <ul>
            <li>
              <%= link_to 'Create GIF', new_book_path, class: 'button' %>
            </li>
            <li>
              <%= link_to 'Discover', discover_path %>
            </li>
            <li>
              <%= link_to 'View Profile', user_path(current_user.username) %>
            </li>
            <li>
              <%= link_to notifications_path do %>
                <span>
                  Notifications
                </span>
                <span id ="notification-count">
                  <%= current_user.bulletins.unread_by(current_user).count %> unread
                </span>
              <% end %>
            </li>
            <li>
              <%= link_to 'Settings', edit_user_path(current_user.username) %>
            </li>
            <li>
              <% unless @user.verified_status == 'verified' %>
                <%= link_to 'Verify Account', users_verify_account_path, method: 'post' %>
              <% end %>
            </li>
            <li>
              <%= link_to 'Logout', :logout, method: :post %>
            </li>
          </ul>
        </div>

      </div>  
      <div class="small-2 columns">
      </div>
    </div>
  </div>
</div>

<div style="height: 50px"></div>
