<div class="large-4 medium-4 small-6 columns text-center end">
  <%= link_to image_tag(user.avatar.url(:medium), class: 'image-with-curved-edges'), user_path(user.username) %>
  <h5 class="text-center">
    <%= link_to user_path(user.username) do %>
      <span><%= user.username %>
      <% if user.verified_status == 'verified' %>
        <i class="fi fi-check"></i>
      <% end %>
      </span>
    <% end %>
  </h5>
  <p class="details">
    <%= user.total_view_count %> views
    <span id="author-<%= user.id %>-subscription-count">
      <%= link_to("#{user.subscriptions.count} subscribers", subscribers_user_path(user)) %>
    </span>
  </p>
  <% if current_user != user %>
    <div id="author-<%= user.id %>-subscribe-div">
      <% if current_user.subscribed? user %>
        <%= render 'shared/unfollow_form', auth: user %>
      <% else %>
        <%= render 'shared/follow_form', auth: user %>
      <% end %>
    </div>
  <% end %>
</div>