<div class="page-static-general">
  <header></header>

  <section class="page-support text-center">
    <section class="section-header">
      <%= link_to image_tag('about-image-1.png', width: '500'), root_path %>
      <h2>Is there anything that we could help you with?</h2>
      <h3>Here's our contact form..</h3>
    </section>

    <div class="row">
      <div class="large-4 large-centered medium-6 medium-centered small-10 small-centered columns">

        <%= form_for @support_ticket do |f| %>
          <% if @support_ticket.errors.any? %>
            <div class="alert">
              <p><%= pluralize(@support_ticket.errors.count, 'error') %></p>
              <ul>
                <% @support_ticket.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <%= f.text_field :name, placeholder: 'Name' %>
          <%= f.email_field :email, placeholder: 'Email' %>
          <%= f.text_field :title, placeholder: 'Title of the query' %>
          <%= f.text_area :question, placeholder: 'The query', rows: '10' %>
          <div class="text-center">
            <%= f.submit 'Submit query', class: 'button tiny radius' %>
          </div>
        <% end %>
        <p>
          You can also contact us at
          <%= link_to 'help@storyhoot.com', '#' %>
        </p>

      </div>
    </div>

    <%= link_to "Join Storyhoot now", new_user_path, class: 'ext-cta' unless current_user %>
  </section>
</div>
