<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= full_title %></title>

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Share your story with the world">

    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-64807190-1', 'auto');
      ga('send', 'pageview');

    </script>
  </head>

  <body>
    <header id="topbar">
      <div class="show-for-large-up">
        <%= render 'shared/navbar' %>
      </div>
      <div class="hide-for-large-up">
        <%= render 'shared/navbar_mobile' %>
      </div>
    </header>
    <main>
      <%= render 'shared/notices' %>
      <%= yield %>
      <%= render 'shared/footer' %>
      <div class='hide-for-medium-up'>
        <%= render 'shared/bottom_navbar' %>
      </div>
    </main>
    <%= javascript_include_tag "application" %>
  </body>
</html>