<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Storyhoot! Share your story with the world</title>

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Share your story with the world">

    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>

    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'shared/notices' %>

    <div class="page-splash">
      <div class="splash-background"></div>
      <div class="splash-section">
        <div class="splash-inner-section text-center">
          <%= yield %>
        </div>
      </div>

      <div class="splash-header">
        <%= link_to 'About', about_path %>
        <%= link_to 'Contact', contact_path %>
        <div class="right">
          <%= link_to 'Log in', login_path %>
        </div>
      </div>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>